@font-face {
  font-family: "SF Display";
  font-weight: 400;
  src: url("https://sf.abarba.me/SF-UI-Display-Regular.otf");
}


body {
  margin: 0;
  padding: 0;
  font-family: "SF Display"!important;
  font-weight: 400;
  background-image: linear-gradient(to right, #d7d2cc 0%, #304352 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
